<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="checkin" href="/checkin">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Checkin</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users" href="/users">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports" href="/reports">
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>Reports</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
