<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-icon
            name="person-circle-outline"
            size="large"
            color="success"
          ></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>John Doe</h2>
          <p>ID: 12345</p>
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Email</strong></p>
      <p>john.doecompan.com</p>
      <p><strong>Department</strong></p>
      <p>Engineering</p>
      <p><strong>Role</strong></p>
      <p>Software Developer</p>
    </ion-card-content>
  </ion-card>

  <ion-button fill="clear" color="danger" slot="end">
    <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
    Logout
  </ion-button>
</ion-content>
